# Assignment Set 7 Solutions - Reshaping and pivoting data

In [12]:
import pandas as pd
import numpy as np

### Q1. Find out the distribution of vehicles between `Type` and `DriveTrain` of vehicles using cross tabulation.

In [13]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [14]:
# Solution
rows = df['Type']
columns = df['DriveTrain']

pd.crosstab(rows, columns, rownames=['Type']) # count of vehicles

pd.crosstab(rows, columns, rownames=['Type'], normalize=True) # normalized values for comparision

DriveTrain       4WD     Front      Rear
Type
Compact     0.012048  0.132530  0.024096
Large       0.000000  0.084337  0.048193
Midsize     0.000000  0.156627  0.060241
Small       0.024096  0.216867  0.000000
Sporty      0.024096  0.072289  0.036145
Van         0.060241  0.048193  0.000000

### Q2. Compute a pivot showing the average price of people by:
1. Type vs DriveTrain
2. Type vs AirBags

In [16]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [17]:
# Solution 1
df_pivot1 = df.pivot_table(index='Type', columns='DriveTrain', values=['Price'], aggfunc=lambda x: np.mean(x))
df_pivot1

            Price
DriveTrain    4WD      Front    Rear
Type
Compact     19.50  17.527273  27.300
Large         NaN  23.971429  24.875
Midsize       NaN  23.307692  37.980
Small        9.65  10.264706     NaN
Sporty      20.10  17.016667  23.000
Van         19.46  18.650000     NaN

In [19]:
# Solution 2
df_pivot2 = df.pivot_table(index='Type', columns='AirBags', values=['Price'], aggfunc=lambda x: np.mean(x))
df_pivot2

                     Price
AirBags Driver & Passenger Driver only       None
Type
Compact          16.650000   20.012500  13.975000
Large            24.550000   24.157143        NaN
Midsize          38.542857   21.212500  15.800000
Small                  NaN   11.250000  10.100000
Sporty           17.450000   21.828571  18.850000
Van                    NaN   20.533333  18.383333

### Q3. Convert the car93 dataset from wide to long format:
- Store the Manufacturer and Model information as it. 
- Store the Type, DriveTrain and AirBags infromation in variable value pair

In [25]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [26]:
# Solution
df_melted = pd.melt(df, id_vars=['Manufacturer', 'Model'], value_vars=['Type', 'DriveTrain', 'AirBags'])
df_melted

    Manufacturer    Model variable               value
0          Acura  Integra     Type               Small
1            NaN   Legend     Type             Midsize
2           Audi       90     Type             Compact
3           Audi      100     Type             Midsize
4            BMW     535i     Type             Midsize
..           ...      ...      ...                 ...
274   Volkswagen  Eurovan  AirBags                None
275   Volkswagen   Passat  AirBags                None
276   Volkswagen  Corrado  AirBags                None
277        Volvo      240  AirBags         Driver only
278          NaN      850  AirBags  Driver & Passenger

[279 rows x 4 columns]

### Q4. Convert the long format data (output of previous question) to wide format

In [31]:
# Solution
df_wide = pd.pivot(df_melted, index=['Manufacturer', 'Model'], columns=['variable'], values='value')
df_wide

variable                          AirBags DriveTrain     Type
Manufacturer Model
NaN          850       Driver & Passenger      Front  Midsize
             Concorde  Driver & Passenger      Front    Large
             Legend    Driver & Passenger      Front  Midsize
             SC300     Driver & Passenger       Rear  Midsize
Acura        Integra                 None      Front    Small
...                                   ...        ...      ...
Volkswagen   Corrado                 None      Front   Sporty
             Eurovan                 None      Front      Van
             Fox                     None      Front    Small
             Passat                  None      Front  Compact
Volvo        240              Driver only       Rear  Compact

[93 rows x 3 columns]