# Assignment Set 8 Solutions - Reshaping and pivoting data

In [20]:
import pandas as pd
import numpy as np

### Q1. Combine ser1 and ser2 to form a dataframe.

In [21]:
# Input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [22]:
# Solution 1
df = pd.concat([ser1, ser2], axis=1)

In [23]:
# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
df.head()

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

### Q2. Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

In [24]:
# Input
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

In [25]:
# Solution
pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'], suffixes=['_left', '_right'])

    fruit weight  price_left  pazham  kilo  price_right
0   apple   high           0   apple  high            3
1   apple   high           5   apple  high            3
2   apple   high           6   apple  high            3
3  orange    low          14  orange   low            8
4  orange    low           1  orange   low            8
5  orange    low           8  orange   low            8

### Q3. Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [26]:
# Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [27]:
# Solution

# Vertical
ser1.append(ser2)

# Horizontal
df = pd.concat([ser1, ser2], axis=1)

### Q4. Create an empty dataframe and concatenate the Cars93 dataset for all Manufacturers one by one using a for loop

In [45]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [46]:
# Solution
colnames_df = df.columns

new_df = pd.DataFrame(columns = colnames_df)

for manu in df['Manufacturer'].unique():
    temp = df[df['Manufacturer'] == manu]
    temp.reset_index(drop = True, inplace = True)
    new_df = pd.concat([new_df, temp])
    new_df.reset_index(drop = True, inplace = True)
    
new_df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
2,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
3,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
4,Buick,Century,Midsize,14.2,15.7,17.3,22.0,31.0,Driver only,NaN,...,6.0,189.0,105.0,69.0,41.0,28.0,16.0,NaN,USA,Buick Century
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Volkswagen,Fox,Small,8.7,9.1,9.5,25.0,33.0,None,Front,...,4.0,163.0,93.0,63.0,34.0,26.0,10.0,2240.0,non-USA,Volkswagen Fox
85,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
86,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
87,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
88,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240